@{
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html lang="es-ar">

<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="~/css/estiloLogin.css" />
</head>
<body>
    <main>
        <div class="row">
            <div class="divForm col-lg-offset-4 col-md-4">
                <form method="post" asp-action="Login">
                    <div class="text-danger">
                        @ViewBag.Error
                    </div>
                    <div class="form-group">
                        <label for="dni" class="control-label">Ingrese su DNI:</label>
                        <input placeholder="DNI" min="0" max="99999999" id="dni" name="dni" class="form-control" type="number" value="@ViewBag.dni" />
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Ingrese su contraseña:</label>
                        <input placeholder="Contraseña" id="password" name="contrasenia" class="form-control" type="password" />
                    </div>
                    <div class="form-group">
                        <label for="rol" class="control-label">Rol:</label>
                        <input name="rol" type="radio" value="@Rol.Administrador" /> @Rol.Administrador.ToString()
                        <input name="rol" type="radio" value="@Rol.Cliente" /> @Rol.Cliente.ToString()
                    </div>
                    <a asp-area="" asp-controller="Cliente" asp-action="Create">Registrarse</a>
                    <div class="form-group">
                        <input type="submit" value="Iniciar sesión" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>
