@model Trabajo_VentaEntradas.Models.Usuario
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{ if (ViewBag.listaEntradas.Length == 0)
    {
        <h3>No tenes entradas, <a href="~/Show/Comprar">Compra</a> </h3>
    }
    else
    {

        @foreach (var item in ViewBag.listaEntradas)
        {
            <td>
                <h2>@item.fecha</h2>
                <h2>@item.seccion</h2>
                <h2>@item.asiento</h2>
                @{
                    bool encontre = false;
                    int i = 0;
                    var banda = "";
                    var idLocal = 0;
                    while (!encontre)
                    {
                        if (@item.idShow == ViewBag.listaShows[i].id)
                        {
                            banda = ViewBag.listaShows[i].banda;
                            idLocal = ViewBag.listaShows[i].idLocalidad;

                            encontre = true;
                        }
                        else
                        {
                            i++;
                        }
                    }

                    bool encontre2 = false;
                    int i2 = 0;
                    var localidad = "";

                    while (!encontre2)
                    {
                        if (idLocal == ViewBag.listaLocalidad[i2].id)
                        {
                            localidad = ViewBag.listaLocalidad[i2].nombre;

                            encontre2 = true;
                        }
                        else
                        {
                            i2++;
                        }
                    }

                }
                <h2>@banda</h2>
                <h2>@localidad</h2>
                <br />
            </td>
        }
        <a href="~/Show/Comprar">Compra más</a>
    }
}


@*<a asp-action="Edit" asp-route-id="@Model.dni">Edit</a>*@