@model Trabajo_VentaEntradas.Models.Usuario
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{ if (ViewBag.listaEntradas.Length == 0)
    {
        <h3>No tenes entradas, <a href="~/Show/Comprar">Compra</a> </h3>
    }
    else
    {
        <div class="row row-cols-1 row-cols-md-2 g-4">
            @foreach (var item in ViewBag.listaEntradas)
            {

                <div class="col">
                    <div class="card">
                        <div class="card-body">


                            @{
                                bool encontre = false;
                                int i = 0;
                                var banda = "";
                                var idLocal = 0;

                                bool encontre3 = false;
                                int i3 = 0;

                                while (!encontre)
                                {
                                    if (@item.idShow == ViewBag.listaShows[i].id)
                                    {
                                        idLocal = ViewBag.listaShows[i].idLocalidad;

                                        while (!encontre3)
                                        {
                                            if (ViewBag.listaShows[i].banda == ViewBag.listaBandas[i3].id)
                                            {
                                                banda = ViewBag.listaBandas[i].nombre;
                                                encontre3 = true;

                                            }
                                            else
                                            {
                                                i3++;
                                            }

                                        }

                                        encontre = true;
                                    }
                                    else
                                    {
                                        i++;
                                    }
                                }

                                bool encontre2 = false;
                                int i2 = 0;
                                var localidad = "";

                                while (!encontre2)
                                {
                                    if (idLocal == ViewBag.listaLocalidad[i2].id)
                                    {
                                        localidad = ViewBag.listaLocalidad[i2].nombre;

                                        encontre2 = true;
                                    }
                                    else
                                    {
                                        i2++;
                                    }
                                }

                            }

                            <h1 class="card-title">@banda en @localidad</h1>
                            @*<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>*@
                            <h2>FECHA: @item.fecha</h2>
                            <h5>@item.seccion</h5>
                            <h5>ASIENTO: @item.asiento</h5>

                            <br />
                        </div>
                    </div>
                </div>

            }
        </div>
        <a href="~/Show/Comprar">Compra más</a>
    }
}


@*<a asp-action="Edit" asp-route-id="@Model.dni">Edit</a>*@
