@model IEnumerable<Trabajo_VentaEntradas.Models.Tarjeta>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.vencimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.titular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dniTitular)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.vencimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.titular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dniTitular)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.numero">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.numero">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.numero">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
