@model IEnumerable<Trabajo_VentaEntradas.Models.Show>
@using System.Linq;

@{
    ViewData["Title"] = "Shows disponibles";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //List<Localidad> items = (List<Localidad>)ViewBag.listaLocalidades;
}


<h1>Shows</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.banda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idLocalidad)
            </th>
            <th>

            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.listaShows)
        {
            <tr>
                <td>
                    @item.fecha
                </td>
                <td>
                    @item.banda
                </td>
                <td>
                    @{
                        bool encontre = false;
                        int i = 0;
                        var nombre = "";
                        while (!encontre)
                        {
                            if (@item.idLocalidad == ViewBag.listaLocalidades[i].id)
                            {
                                nombre = ViewBag.listaLocalidades[i].nombre;
                                encontre = true;
                            }
                            else
                            {
                                i++;
                            }
                        }
                    
                    }
                    <h4>@nombre</h4>
                   

                </td>
                <td>
                    <a type="button" class="btn btn-primary" asp-action="ConfirmarCompra" asp-route-id="@item.id">Comprar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
