<div>
    <div>
        @model Trabajo_VentaEntradas.ViewModels.ConfirmarCompraVM

        @{
            ViewData["Title"] = "Confirmar Compra";
            Layout = "~/Views/Shared/_Layout.cshtml";
        }

        <div>

            <form method="post" asp-action="ConfirmarCompra" asp-controller="Show">
                <div class="form-group">
                    <label>Banda: @Model.banda</label><br />
                    <input type="text" value="@Model.banda" readonly hidden asp-for="banda" />
                    <label>Fecha: @Model.fecha</label><br />
                    <input type="text" value="@Model.fecha" readonly hidden asp-for="fecha" />
                    <label>Localidad: @Model.localidad</label><br />
                    <input type="text" value="@Model.idLocalidad" readonly hidden asp-for="idLocalidad" />
                    <input type="text" value="@Model.idShow" readonly hidden asp-for="idShow" />
                </div>
                <div class="form-group">
                    <label>Seccion: </label>&nbsp   @*&nbsp = Espacio en blanco*@
                    <input type="radio" name="seccion" value="@Model.precioCampo" /> Campo $@Model.precioCampo
                    <input type="radio" name="seccion" value="@Model.precioPlatea" /> Platea $@Model.precioPlatea
                    <br />
                </div>

                @*<label>Cantidad de Entradas: @Html.DropDownListFor(m => m.asientosCampo, Enumerable.Range(1, 5).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { placeholder = Html.DisplayNameFor(x => x.asientosCampo), @class = "form-control" })</label>*@
                @*<label>Cantidad de Entradas: @Html.DropDownList("Cantidad",)</label>*@


                <div class="form-group">
                    Cantidad de Entradas:
                    <select asp-for="CantidadEntradas" name="Entrada">

                        <option selected value="1"> 1   </option>
                        <option value="2">          2   </option>
                        <option value="3">          3   </option>
                        <option value="4">          4   </option>
                        <option value="5">          5   </option>


                    </select>
                </div>

                <div class="form-group">
                    <input type="text" value="@Model.banda" readonly hidden asp-for="banda"/>

                </div>

                <div class="form-group">
                    <input type="submit" value="Comprar" class="btn btn-success" asp-action="ConfirmarCompra" formmethod="post" />
                </div>
            </form>

            Precio <span id="Precio">  </span>

            <script>
                var radios = document.querySelectorAll('input[type=radio][name="seccion"]');
                radios.forEach(radio => radio.addEventListener('change', () => alert(radio.value)));

                function calcularPrecio() {

                }
            </script>

        </div>
    </div>
</div>